/** @format */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	--transition-duration: 0.3s;
	--line-height: 1.7;
	background-color: #f0f2f5;
	--background-color: #f0f2f5;
	--color-black: rgb(0 0 0);
	--color-gray: rgb(137 143 156);
	--color-primary: #1877f2;
	--color-primary-10: rgb(66 103 178);
	--color-primary-20: #00b2ff;
	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-8: 2rem;
	--size-16: 4rem;
	--size-20: 5rem;
	--size-40: 10rem;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	overflow-y: auto !important;
}

h1,
h2,
h3 {
	font-family: "Oswald", "Roboto", sans-serif;
}

a,
button {
	font: inherit;
	cursor: pointer;
}

/********** Global Rules **********/

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

/* .control .error-is-invalid {
	color: red;
	color: #ff9700;
	transition: 0.3s;
}

 */



::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 0.85rem;
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 0.85rem;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 0.85rem;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-size: 0.85rem;
}

/* overflow: scroll; */
/* overflow-x: hidden; */
/* -ms-overflow-style: none; 
	scrollbar-width: none;  */

/* ::-webkit-scrollbar { */
/* Remove scrollbar space */
/* width: 0 !important; */
/* Optional: just make scrollbar invisible */
/* background: transparent; */
/* } */
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb { */
/* background: #ff0000 !important; */
